<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	 
	 <head>
		 <th:block layout:fragment="script">
			 <script th:inline="javascript">
				 const boardNo = /*[[getBoard.boardNo]]*/
				 $(function() {
					 
				 });
				 
				 function fnBtnMoveList() {
					 window.location.href = '/board/boardList'
				 }
				 
				 function fnBtnDelete() {
					 $.ajax({
						 url: '/board/board',
						 type: 'delete',
						 data: {
							 boardNo: $("#boardNo").val()
						 },
						 success: function() {
							 alert("삭제되었습니다.");
							 window.location.href = '/board/boardList'
						 },
						 error: function() {
							 console.log(e);
						 }
					 })
				 }
				 
				 function fnBtnModify() {
					 window.location.href = '/board/updateBoard/boardNo'
				 }
			 </script>
		 </th:block>
		 <th:block layout:fragment="css">
			 <link rel="stylesheet" th:href="@{/css/login.css}"/>
			 <style>
				 .cate {
					 margin-bottom: 16px;
				 }
				 
				 #boardContent {
					 resize: none;
				 }
				 
				 .boardFileEach {
					 display: inline-block;
					 position: relative;
					 width: 150px;
					 height: 120px;
					 margin: 5px;
					 border: 1px solid blue;
					 z-index: 1;
				 }
				 
				 .fileImg {
					 width: 100%;
					 height: 100%;
					 z-index: none;
					 cursor: pointer;
				 }
				 
				 .fileNm {
					 display: inline-block;
					 font-size: 8px;
					 cursor: pointer;
				 }
			 </style>
		 </th:block>
	 </head>
	 <body
		 <div layout:fragment="content">
			 <div>
				<h3>게시글 상세</h3>
				<form id="boardForm">
					<input type="hidden" name="boardNo" id="boardNo" th:value="${getBoard.boardNo}">
					<div class="cate" th:if="${getBoard.cateNo == 0}">공지</div>
					<div class="cate" th:if="${getBoard.cateNo == 1}">뉴스</div>
					<div class="cate" th:if="${getBoard.cateNo == 2}">유머</div>
					<span>제목: </span><input type="text" name="boardTitle" id="boardTitle" th:value="${getBoard.boardTitle}" readonly><br>
					<p th:text="'작성자: ' + ${getBoard.boardWriter}"></p>
					<p th:text="${'작성일: ' + #strings.substring(getBoard.boardRegdate, 0, 10) + '&nbsp;' + #strings.substring(getBoard.boardRegdate, 11, 19)}"></p>
					<p th:text="'조회수: ' + ${getBoard.boardCnt}"></p>
					<textarea name="boardContent" id="boardContent" cols="50" rows="6" th:text="${getBoard.boardContent}" readonly></textarea>
					<div id="filePreview">
						<div id="attZone">
							<div th:each="boardFile : ${boardFileList}" class="boardFileEach">
								<input type="hidden" th:id="'fileNo' + ${boardFileStat.index}" 
									th:name="'fileNo' + ${boardFileStat.index}"
									th:value="${boardFile.fileNo}">
								<input type="hidden" th:id="'fileName' + ${boardFileStat.index}" 
									th:name="'fileName' + ${boardFileStat.index}"
									th:value="${boardFile.fileName}">									
								<img th:if="${boardFile.fileCate} == 'img'" th:id="'img' + ${boardFile.fileNo}"
									th:src="@{'/upload/' + ${boardFile.fileName}}" class="fileImg">
								<img th:if="${boardFile.fileCate} == 'zip'" th:id="'zip' + ${boardFile.fileNo}"
									th:src="@{/images/zip.png}" class="fileImg">
								<img th:unless="${boardFile.fileCate} == 'img' or ${boardFile.fileCate} == 'zip'" th:id="'doc' + ${boardFile.fileNo}"
									th:src="@{/images/document.png}" class="fileImg">
								<p th:id="'fileNm' + ${boardFile.fileNo}" class="fileNm"
									th:onclick="fnFileDown([[${boardFile.boardNo}]], [[${boardFile.fileNo}]]"
									th:text="${boardFile.fileOriName}"></p>
							</div>
						</div>
					</div>
					<div id="btns">
						<button type="button" id="btnList" onclick="fnBtnMoveList()">목록</button>
						<button type="button" id="btnDelete" onclick="fnBtnDelete()">삭제</button>
						<button type="button" id="btnModify" th:onclick="|location.href='@{/board/updateBoard/{boardNo} (boardNo = ${getBoard.boardNo})}'|">수정</button>
					</div>
				</form>
			 </div>
		 </div>
	 </body>
</html>